*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #BC4749;
    /* color:#BC4749; */
}
.container{
    width: 95%;
    margin: 30px;
    display: grid;
    grid-template-columns: 1fr 5fr;
    gap: 20px;
}
.nav-bar{
    float: right;
    background-color: #A7C957;
    width: 300px;
    /* height: 900px; */
    align-items: center;
}
.page-body{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 40px;
}
#img-slider{
    background-color: #366D45;
    grid-column: 1/4;
    width: 80%;
    height:450px;
    margin:40px auto 15px auto;
}
section{
    display: flex;
    width:100%;
    height: 450px;
}
section img{
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .7;
    transition: .5s ease;
}
section img:hover{
    cursor: crosshair;
    width: 300px;
    opacity: 1;
}
#others{
    background-color: #A7C957;
    grid-column: 2/4;
    height: 430px;
    margin-left: 20px;
}
.resumen-box{
    background-color: #A7C957;
    /* width: */
    grid-column: 1/2;
    height: 430px;
    margin-right: 20px;
    /* height: fit-content; */
}
#foto img{
    background-color: #F2E8CF;
    float: left;
    width: 190px;
    height: 230px;
    margin: 30px 20px 15px 30px;
}
@media only screen and (max-width:800px){
    .resumen-box{
        max-width: 600px;
    }
    #foto img{
        visibility: hidden;
        height: 0px;
    }
}
.hueco{
    background-color: #F2E8CF;
    width: 80%;
    height: 170px;
    margin:30px auto 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
h1{
    text-align: center;
    margin-top: 30px;
}
#historia{
    margin: 30px
}
#logo{
    width: 300px;
    padding: 20px;
    border-radius: 30px;
    margin-bottom: 30px;
}
.list{
    background-color:#F2E8CF;
    width: 100%;
    height: 50px;
    margin-bottom: 7px;
    border-radius: 9px; 
}
.list:hover{
    background-color:#bc474931 ;
}
li{
    margin: auto 20px;
    padding:13px 0;
    list-style-type: none;
    font-size: 20px;
    color:#BC4749;
}
a{
    text-decoration: none;
    color: #BC4749;
}
a:visited{
    color: #BC4749;
}
.textos{
    background-color: #366D45;
    grid-column: 1/3;
    height: fit-content;
    margin-left: 20px;
    color: #F2E8CF;
    font-size: 22SSpx;
    font-family: Helvetica, sans-serif;
    line-height: 2.3em;
}
#products-slider{
    background-color: #366D45;
    width: 80%;
    height:fit-content;
    margin:10px auto 0 auto;
}
.products-slider{
    display: flex;
    width:100%;
    height: 350px;
    margin-bottom: 30px;
}
.products-slider img{
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .7;
    transition: .5s ease;
}
h3{
    margin: 30px 0 10px 30px;
    text-align: center;
}
p{
    margin: 0 35px 20px 30px;
}
/* GALERÍA DE FOTOS */
/* .images-gallery{
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    gap: 20px;
    margin: 30px;
}
.images-gallery img{
    align-items: center;
    width: 500px;
    height: 500px;
} */
.slider{
    /* aspect-ratio: 10 / 16; */
    width: 50%;
    height: 500px;
    position: relative;
    display: flex;
    overflow: scroll;
    scroll-snap-type: x mandatory;
    margin: 50px auto;
}
.slider img{
    width: 100%;
    left: 0;
    position: sticky;
    object-fit: cover;
    border-radius: 5px;
    scroll-snap-align:center ;
}